/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* tag immagine grande */

.big_img {
    height: 100%;
    display: none;
    position: relative;
}

.big_img.active {
    display: block;
}

.big_img img {
    height: 600px;
}

.text {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: white;
    text-align: end;
}

/* tag immagini piccole */


.small_img img {
    filter: brightness(0.5);
}

.small {
    position: relative;
}

.small_img.active img {
    border: 2px solid rgb(216, 211, 211);
    opacity: 1;
    filter: brightness(1);
}

.back, .next {
    z-index: 90;
    cursor: pointer;
}