/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big_img {
    height: 100%;
    display: none;
    position: relative;
}

.big_img.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small_img img {
    filter: brightness(0.5);
}

.text {
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: white;
}

.small_img.active img {
    border: 2px solid rgb(216, 211, 211);
    opacity: 1;
    filter: brightness(1);
}